  <div class="row">
    <aside class="col-md-4">  
    </aside> 
  </div> 
  <div class="center jumbotron">
    <h1>Bem-Vindo ao banco GRP !</h1> 
    <p><%= link_to "Nova Conta !", new_user_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "Acessar Conta", login_path, class: "btn btn-lg btn-primary" %></p>
  </div> 