  <div class="row">
    <aside class="col-md-4">
    </aside>
  </div>
  <div class="jumbotron">
    <div class="text-center">
      <h1><i>Bem-Vindo ao banco GRP</i></h1>
      <p>O banco que mais combina com você!</p>
    </div>
  </div>

  <div id="home_options">
    <div class="child">
      <%= link_to "Nova Conta", new_user_path, class: "btn btn-success" %>
    </div>
    <div class="child">
      <%= link_to "Acessar Conta", login_path, class: "btn btn-success" %>
    </div>
  </div>
