<div class="modal fade" id="ratesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <center><strong><h3>Taxas para transferencias</h3></strong></center>
        </div>

        <div class="modal-header">
          <div class="modal-body">
            <div class="form-group">
              <center><h4><label>De segunda a sexta das 09:00 às 18:00</label></h4></center>
                <p><center><h3><strong> 5 R$</strong></h3></center></p>
            </div>
          </div>
        </div>

        <div class="modal-header">
          <div class="modal-body">
            <div class="form-group">
              <center><h4><label>De segunda a sexta antes das 09:00 e após às 18:00</label></h4></center>
                <p><center><h3><strong> 7 R$</strong></h3></center></p>
            </div>
          </div>
        </div>

        <div class="modal-header">
          <div class="modal-body">
            <div class="form-group">
              <center><h4><label>Transferência acima de 1.000 R$</label></h4></center>
                <p><center><h3><strong> 10 R$</strong></h3></center></p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
