<div class="text-center">
    <h2>Extrato</h2>
</div>

<ul class="list-group">
  <% @statements.each.with_index(1) do |f, i| %>
    <li class="list-group-item"><%= f.created_at.strftime("%d/%m/%Y - %H:%M:%S") %> - Saldo: R$<%= f.balance %><span class="badge"><%= i %></span></li>
  <% end %>
</ul>
