<h1> Deposito </h1>  
  <%= form_tag({controller: "accounts", action: "deposit"}, method: "post") %>
     <th>Valor depósito:</th>
       <%= text_field_tag :amount %> 
     </td> 
      
    <%= submit_tag "Depositar" %> 